.banner{
     background-color: #fbf5ee;
}

.hero-section h2{
    font-family: 'GreatVibes', cursive;
}
.hero-bg{
    background-image: url("./../../assets/images/hero-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* banner.css */

.banner-animate {
  position: absolute;
  bottom: 0; /* конечная позиция */
  opacity: 0;
  transform: translateY(-120px); /* старт выше */
  animation: dropBanner 1.2s ease-out forwards;
  animation-delay: 0.6s;
}

@keyframes dropBanner {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-animate {
  transform: translateY(40px); /* старт чуть ниже */
  animation: riseText 1s ease-out forwards;
  animation-delay:0.6s; /* чуть позже чем картинка */
}

@keyframes riseText {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-10px);
  }
}
